<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Wakemeup</vendor>
  <vendor_url>https://github.com/wakemeup0/controwly</vendor_url>
  <icon_name>io.github.wakemeup0.controwly</icon_name>
  <action id="io.github.wakemeup0.controwly.input">
    <description>Control a validated Controwly game-controller function</description>
    <message>Administrator authorization is required to disable or restore this controller function.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/controwly-linux-input-helper</annotate>
  </action>
</policyconfig>
